<!DOCTYPE html>
<html>

  <head>
    <title>Photos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <style>
    div.gallery {
      margin-left: 12%;
      margin-right: 10%;
    }

    div.thumbnail {
      margin: 5px;
      float: left;
      width: 180px;
      height: 240px;
      border: 1px solid lavender;
    }

    div.thumbnail:hover {
      border: 1px solid black;
    }

    div.thumbnail img {
      display: block;
      margin: auto;
    }

    div.descent {
      padding: 10px;
      text-align: center;
    }
  </style>
  </head>

  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/photos">Photos</a></li>
    </ul>

    <h1>Photos</h1>

    <!--The thumbnail class currently doesn't actually mean anything.
    Use a for loop where indices of thumbnail references and their corresponding
    thumbnails match up so that info from references can be assigned to the appropriate
    thumbnail image-->
    <div class="gallery">
      {% for img_url, thumbnail_reference in thumbnails.iteritems() %}
      <div class="thumbnail">
        <img src='{{img_url}}'>
        <div class="descent">{{thumbnail_reference.thumbnail_name}}</div>
      </div>
      {% endfor %}
    </div>

  </body>
</html>
