<!DOCTYPE html>
<html>

  <head>
    <title>Photos</title>
  </head>

  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/contributors">Contributors</a></li>
    </ul>

    <h1>Photos</h1>

    <!--The thumbnail class currently doesn't actually mean anything.
    Use a for loop where indices of thumbnail references and their corresponding
    thumbnails match up so that info from references can be assigned to the appropriate
    thumbnail immage-->

    {% for key, value in thumbnails.iteritems() %}
    <div class="thumbnail">
      <p>{{value}}</p>
      <p>{{key.thumbnail_name}}</p>
      <p>{{key.poster_email_address}}</p>
      <p>{{key.date}} UTC</p>
    </div>
    {% endfor %}

  </body>
</html>
